.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}

.disabled-btn{
    background-color: lightgray;
    border-radius: 5px;
}

.active-btn{
    background-color: blue;
    border-radius: 5px;
}

.link-container{
    display: flex;
    justify-content: center;
    padding: 10%;
}